<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="37820Wilsonvm.CuantosabesdeStarWars" Publisher="CN=38F966A1-7620-410F-96DE-05247D62431E" Version="1.0.0.3" />
  <Properties>
    <DisplayName>¿Cuanto sabes de StarWars?</DisplayName>
    <PublisherDisplayName>Wilsonvm</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CuantoSabesDeStarWars.App">
      <VisualElements DisplayName="¿Cuanto Sabes de StarWars?" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="CuantoSabesDeStarWars" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="logoOnly" WideLogo="Assets/WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>